{% extends "admin/core/base.html" %}
{% load settings %}

{% block title %}{{ plugin_name }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url 'eschol_manager' %}">{{ plugin_name }}</a></li>
{% endblock breadcrumbs %}

{% block body %}
<div class="box">
    {% setting_var request.journal 'escholarship_down' as eschol_down %}
    {% if eschol_down %}
        <div class="box warning" role="alert">{{ request.journal|setting:'escholarship_down_message' }}</div>
    {% endif %}
    {% block content %}
    {% endblock content %}
</div>
{% endblock body %}