{% extends "admin/core/base.html" %}
{% load foundation %}

{% block title %}Janeway to Eschol Connection Manager -- Publish {{ obj }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url 'eschol_manager' %}">Janeway to Escholarship Plugin</a></li>
    <li><a href="{% url 'eschol_list_articles' issue.pk %}">Publish Issue</a></li>
    <li>Published {{ obj_name }}</li>
{% endblock breadcrumbs %}

{% block body %}
<div class="box">
    <div class="title-area">
        <h2>Published {{ obj }}</h2>
    </div>
    {% if  errors|length >  0%}
    <div class="alert content">
        <p>Errors occurred upon deposit:</p>
        <ul>
            {% for e in errors %}
                <li>{{ e }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    {% if objs|length > 0 %}
    <div class="success content">
        <p>Successfully deposited:</p>
        <ul>
        {% for obj in objs %}
            <li>Article: {{ obj.article }} at {{ obj.ark }}
                {% if not obj.doi_registered and obj.doi_result_text %}
                    <ul></ul><li>EZID DOI registration failure: {{ obj.doi_result_text }}</li></ul>
                {% endif %}
            </li>

        {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>
{% endblock body %}