{% extends "admin/core/base.html" %}
{% load foundation %}

{% block title %}Janeway to Eschol Connection Manager{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url 'eschol_manager' %}">Janeway to Escholarship Plugin</a></li>
{% endblock breadcrumbs %}

{% block body %}
<div class="box">
    <div class="title-area">
        <h2>Publish Issues</h2>
    </div>
    <div class="content">
        <ul>
            {% for issue in issues %}
                <li><a href="{% url 'eschol_list_articles' issue.pk %}">{{ issue }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock body %}